.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 20px 20px 20px;
  flex: 1;
}

.header {
  display: flex;
  flex-direction: column  ;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  color: var(--main-text-color);
}

.switcher {
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
}

.switchBtn {
  font-size: 16px;
  font-family: 'Ubuntu', Arial, sans-serif;
  padding: 10px 30px;
  background: var(--main-text-color);
  border: 0px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.switchBtn:hover {
  background: #009872;
}

.switchBtn.active {
  background: #00ad82;
  box-shadow: inset 0 4px 12px rgba(0, 0, 0, 0.1);
}

.switchBtn.archiveBtn {
  
  background: rgba(0, 189, 143, 0.1);
  color: #00BD8F;
}

.switchBtn.archiveBtn:hover {
  background: rgba(0, 189, 142, 0.304);
  color: #00BD8F;
}

.switchBtn.active.archiveBtn {
  background: #00ad82;
  color: black;
  box-shadow: inset 0 4px 12px rgba(0, 0, 0, 0.1);
}

.dayList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.addWorkoutCard {
  background-color: rgba(0, 189, 143, 0.1);
  border: 2px dashed #00BD8F;
  border-radius: 10px;
  padding: 15px 10px;
  min-width: 700px;
  color: #00BD8F;
  font-size: 16px;
  font-family: 'Ubuntu', Arial, sans-serif;
  cursor: pointer;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.addWorkoutCard:hover {
  background-color: rgba(0, 189, 143, 0.1);
  transform: translateY(-1px);
}

.monthPlaceholder {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
  padding: 15px 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.archiveList {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.empty {
  text-align: center;
  color: #999;
  padding: 40px 0;
}
