.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  flex: 1;
}

span,
p {
  font-size: 20px;
  color: var(--main-text-color);
}

p:hover {
  cursor: default;
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: default;
  color: var(--main-text-color);
}

.tooltip::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%) translateY(10px) scale(0);
  opacity: 0;
  background-color: #33333381;
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 14px;
  white-space: nowrap;
  z-index: 10;
  pointer-events: none;
  
  transition: all 0.3s ease;
}

.tooltip:hover::after {
  transform: translateX(-50%) translateY(0) scale(1);
  opacity: 1;
}

.content {
  min-width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.infoContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.photo {
  background-color: rgba(255, 255, 255, 0.05);
  width: 200px;
  height: 200px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
}

.infoText {
  display: flex;
  flex-direction: column;
}

.textContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-block: 20px;
}

.cards {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
