.footer {
  background-color: var(--header-footer-bg-color);
  min-height: 50px;
  padding: 10px;
  text-align: center;
  align-content: center;
}

.link {
    color: var(--link-color);
    text-decoration: inherit;
}

.link:hover {
    color: var(--link-color);
}