@font-face {
  font-family: 'Ubuntu';
  src: url("./fonts/Ubuntu-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ubuntu';
  src: url("./fonts/Ubuntu-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


:root {
  font-family: 'Ubuntu', Arial, sans-serif;
  font-weight: 400;
  --link-color: black; 
  --link-hover-color: #535bf2;
  --bg-color: #525252; 
  --header-footer-bg-color: #313131;
  --main-text-color: #00BD8F;
}

a {
  color: var(--link-color);
  font-weight: 500;
  text-decoration: inherit;
}
a:hover {
  color: var(--link-hover-color);
}

body {
  margin: 0;
}
