.header {
  background-color: var(--header-footer-bg-color);
  min-height: 50px;
  padding: 10px;
  align-content: center;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  --labelColor: #00BD8F; 
}

.centeredLogo {
  display: inline-flex;
  align-items: center;
  font-size: 24px;
  color: var(--labelColor);
  text-decoration: none;
  margin: 0 auto;
}

.centeredLogo:hover {
  color: var(--labelColor);
  transform: translateY(1px);
}

.link {
  display: inline-flex;
  align-items: flex-end;
  font-size: 50px;
  color: var(--labelColor);
  text-decoration: inherit;
  transition: all 0.2s ease-in-out;
}

.link:hover {
  color: var(--labelColor);
  transform: translateY(1px);
}

.logo {
  width: 60px;
  height: 50px;
}

.text {
  line-height: 1;
  display: inline-block;
}

.container {
  display: flex;
  gap: 10px;
  padding-bottom: 5px;
}

.cover {
  background-color: var(--labelColor);
  color: black;
  font-family: 'Ubuntu', Arial, sans-serif;
  font-size: 16px;
  padding: 10px 16px;
  border: 1px solid transparent;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cover:hover {
  background-color: #00A57C;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  transform: translateY(1px);
}

